<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="300" alt="Angular Logo" src="/assets/images/vertical.png">
</div>
    <div class="section">
      <div class="top-border left"></div>
      <div class="top-border right"></div>
      <h1>Projects</h1>
        <br>
        <app-projects-form></app-projects-form>
      <a  href="#">New Project</a>
  </div>
<div class="section ">
      <div class="top-border left"></div>
      <div class="top-border right"></div>
      <h1>Users</h1>
        <br>
      <a href="#">New User</a>
</div>

